<!DOCTYPE html>
<html>
<head>
  <title>MessengerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/flash_messages' %>
  <% if current_user %>
    <%= link_to "Logout", logout_path  %>
    <%= link_to "My Messages", messages_path  %>
    <%= link_to "Write Message", new_message_path  %>
  <% else %>
    <%= link_to "Log In", login_path  %>
    <%= link_to "Create Account", signup_path %>
  <% end %>

  <%= yield %>

</body>
</html>
